

html
{

}

body
{

    height: 100%;
}

#content
{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;

    min-height: 90%;
}

#comment-section
{

}

#supertypes-section
{

}

#table-of-elements-section
{

}

#table-of-methods-section
{

}

table
{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

table td
{
    border: 1px solid black;
}

.package-page-table
{

}

.package-page-table-td
{
    width: 25%;
}